:root {
  --background-color-secondary: #f5f4fa;
  --background-color-dark: #2f303a;
  --color-white-primary: #ffffff;
  --color-text-primary: #757575;
  --color-text-secondary: #212121;
  --color-accent: #2196f3;
  --color-logo-text: #000000;
  --color-icons: #afb1b8;
  --footer-secondary-color: rgba(255, 255, 255, 0.6);
}